checkpoints/shimmer_v1.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_28M9_384_12_12_9995V_450k_blend_dataset_3_epoch_phase_1_final.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_29M1_384_12_12_10235V_phase_1.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_29M1_384_12_12_10235V_phase_2.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_29M1_384_12_12_10235V_phase_3.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_28M9_384_12_12_9995V_450k_blend_dataset_2_epoch_phase_3_final.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_28M9_384_12_12_9995V_450k_blend_dataset_3_epoch_phase_2_final.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_28M9_384_12_12_9995V_450k_blend_dataset_3_epoch_phase_4_final.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_29M1_384_12_12_10235V_phase_4.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/shimmer_v1_29M1_384_12_12_10235V_phase_4_train_3_epoch.pt filter=lfs diff=lfs merge=lfs -text
